<div class="search-bar" [formGroup]="formGroup">

    <div class="input-wrapper">
        <input class="input-search" type="search" placeholder="Pesquisar" formControlName="nome_racao">
        <button><i class='bx bx-search'></i></button>
    </div>

    <input class="data" type="date" formControlName="data_inicial">

    <input class="data" type="date" formControlName="data_final">
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ração</th>
                <th>Data</th>
                <th>Usuário</th>
                <th>Quantidade</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of displayItems" class="table-row">
                <td [attr.data_title]="item.id ? 'ID' : null">{{ item.id }}</td>
                <td [attr.data_title]="item.racao ? 'Ração' : null">{{ item.racao }}</td>
                <td [attr.data_title]="item.data ? 'Data' : null">{{ item.data | date: 'dd/MM/yyyy' }} </td>
                <td [attr.data_title]="item.usuario ? 'Usuário' : null">{{ item.usuario }}</td>
                <td [attr.data_title]="item.quantidade ? 'Quantidade' : null">{{ item.quantidade }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-paginator">
    <button class="icon" [disabled]="currentPage === 1" [style.color]="currentPage == 1 ? '#006494' : ''"><i
            class='bx bx-chevrons-left' (click)="prevPage()"></i></button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="icon" [disabled]="currentPage === totalPages"
        [style.color]="currentPage == totalPages ? '#006494' : ''"><i class='bx bx-chevrons-right'
            (click)="nextPage()"></i></button>
</div>


