<header [ngClass]="menuToggle  ? 'active' : ''">
    <!-- <a class="logo">NutriMAX</a> -->
    <p-toast></p-toast>
    <div class="menuToggle" (click)="onMenuToggle()"></div>
    <nav>
        <ul>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">Cadastrar <i
                        class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/cadastrar/cadastro-ingrediente']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/cadastrar/cadastro-racao']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Consultar <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/consultar/ingredientes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/consultar/racoes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a routerLink="/produzir" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Produzir</a></li>
            <li><a routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Comprar <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/comprar/ingredientes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/comprar/racoes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a [routerLink]="['/acertar-estoque']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Acertar Estoque</a></li>
            <li *ngIf="this.userInfo?.cargo === 'Administrador'"><a routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Sistema <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/sistema/historico-compra-ingredientes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}">Histórico Compras</a></li>
                    <li><a [routerLink]="['/sistema/acertos-estoque']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}">Acertos de Estoque</a></li>
                    <li><a [routerLink]="['/sistema/producoes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}">Produções</a></li>
                    <li><a [routerLink]="['/sistema/logs']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}">Logs</a></li>
                    <li><a [routerLink]="['/sistema/usuarios']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}">Gerenciar Usuários</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <a class="user-profile" (click)="openModal()">{{ this.userInfo?.nome }} <i class='bx bx-user'></i></a>
</header>

<p-dialog header="Olá, {{ this.userInfo?.nome }}" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [modal]="true"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="modal">
        <div class="content">
            <div class="data">
                <h5>Meus Dados</h5>
                <i class='bx bx-pencil' (click)="onEditable()"></i>
            </div>

            <div class="user-data">
                <div class="item-data">
                    <div class="item-title">
                        <i class='bx bx-user'></i>
                        <label>Nome</label>
                    </div>
                    <div class="item-info">
                        {{ this.userInfo?.nome }}
                    </div>
                </div>

                <div class="item-data">
                    <div class="item-title">
                        <i class='bx bx-envelope'></i>
                        <label>E-mail</label>
                    </div>
                    <div class="item-info">
                        {{ this.userInfo?.email }}
                    </div>
                </div>
            </div>
            <hr>
            <ng-template #form [ngIf]="isEditable" [ngIfThen]="form">
                <form class="form" [formGroup]="formGroup">
                    <div class="item">
                        <label htmlFor="senha_atual">Senha Atual</label>
                        <div class="card flex justify-content-center">
                            <p-password formControlName="senha_atual" [feedback]="false" [toggleMask]="true"></p-password>
                            <small *ngIf="formGroup.controls['senha_atual'].invalid && formGroup.controls['senha_atual'].touched"
                                class="validation-message">
                                É necessário preencher a senha atual.
                            </small>
                        </div>
                    </div>
                
                    <div class="item">
                        <label htmlFor="senha_nova">Senha Nova</label>
                        <div class="card flex justify-content-center">
                            <p-password formControlName="senha_nova" [feedback]="true" [toggleMask]="true"></p-password>
                            <small *ngIf="formGroup.controls['senha_nova'].invalid && formGroup.controls['senha_nova'].touched"
                                class="validation-message">
                                É necessário informar a nova senha.
                            </small>
                            <small *ngIf="formGroup.controls['senha_nova'].hasError('minlength')" class="validation-message">
                                A nova senha deve ter ao menos 3 caracteres.
                            </small>
                        </div>
                    </div>
                
                    <div class="submit">
                        <button class="btn-submit" [disabled]="formGroup.invalid" (click)="changePassword()">
                           Editar
                        </button>
                    </div>
                </form>
                <hr>
            </ng-template>
            
            <div class="submit">
                <button class="btn" (click)="logout()">
                    Sair
                </button>
            </div>
        </div>
    </div>

</p-dialog>