<header [ngClass]="menuToggle  ? 'active' : ''">
    <!-- <a class="logo">NutriMAX</a> -->

    <div class="menuToggle" (click)="onMenuToggle()"></div>
    <nav>
        <ul>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}">Cadastrar <i
                        class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/cadastrar/cadastro-ingrediente']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/cadastrar/cadastro-racao']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Consultar <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/consultar/ingredientes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/consultar/racoes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a routerLink="/produzir" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Produzir</a></li>
            <li><a routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Comprar <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a [routerLink]="['/comprar/ingredientes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Ingredientes</a></li>
                    <li><a [routerLink]="['/comprar/racoes']" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Rações</a></li>
                </ul>
            </li>
            <li><a routerLink="/acertar-estoque" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: false}">Acertar Estoque</a></li>
            <li *ngIf="this.userInfo?.cargo === 'Administrador'"><a>Sistema <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a routerLink="/historico" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Histórico</a></li>
                    <li><a routerLink="/gerenciar-usuarios" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: false}">Gerenciar Usuários</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <a class="user-profile">{{ this.userInfo?.nome }} <i class='bx bx-user'></i></a>
</header>

<!-- <header [ngClass]="menuToggle  ? 'active' : ''">
    <a class="logo">NutriMAX</a>
    <div class="menuToggle" (click)="onMenuToggle()"></div>
    <nav>
        <ul>
            <li><a>Cadastrar</a></li>
            <li><a>Consultar</a></li>
            <li><a>Dropdown <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a>Product 01</a></li>
                    <li><a>Product 02</a></li>
                    <li><a>Product 03<i class='bx bx-plus'></i></a>
                        <ul>
                            <li><a>Submenu 01</a></li>
                            <li><a>Submenu 02</a></li>
                            <li><a>Submenu 03</a></li>
                            <li><a>Submenu 04</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a>Portfolio</a></li>
            <li><a>Blog <i class='bx bx-chevron-down'></i></a>
                <ul>
                    <li><a>Post Link 01</a></li>
                    <li><a>Post Link 02</a></li>
                    <li><a>Post Link 03</a></li>
                </ul>
            </li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
</header> -->









<!-- <header class="box-header">
    <button class="menu-button" (click)="toggleMenu()">
        <i class="bx bx-menu"></i>
    </button>
    <ul class="nav-links" #navLinks [ngClass]="{ 'show-menu': isMenuOpen }">
        <li class="nav-item"><a routerLink="/cadastrar" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: false}">Cadastrar</a></li>
        <li class="nav-item"><a routerLink="/consultar" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: false}">Consultar</a></li>
        <li class="nav-item"><a routerLink="/produzir" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: false}">Produzir</a></li>
        <li class="nav-item"><a routerLink="/comprar" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: false}">Comprar</a></li>
        <li class="nav-item"><a routerLink="/acertar-estoque" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: false}">Acertar Estoque</a></li>
        <li class="nav-item" *ngIf="this.userInfo?.cargo === 'Administrador'" [ngClass]="{ 'dropdown-open': isSistemaOpen }" (click)="toggleSistemaDropdown()">
            <a class="system">Sistema</a>
            <ul class="subcategorias" *ngIf="isSistemaOpen">
                <li *ngFor="let subcategoria of sistemaSubcategorias">
                    <a [routerLink]="['/sistema', subcategoria.route]" routerLinkActive="active-link">{{
                        subcategoria.display }}</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="user-profile">
        <span class="icon"><i class='bx bx-user'></i></span>
        <p class="user-name">{{ this.userInfo?.nome }}</p>
    </div>
</header> -->