<div class="search-bar">
    <p-toast></p-toast>
    <button class="btn back" (click)="sendToBack()">
        Voltar
        <i class='bx bx-left-arrow-alt'></i>
    </button>
    <button class="btn add" (click)="openModalRacao()">
        Adicionar
        <i class='bx bx-plus-circle'></i>
    </button>

</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of displayItems" class="table-row">
                <td [attr.data_title]="item.id ? 'ID' : null">{{ item.id }}</td>
                <td [attr.data_title]="item.nome ? 'Nome' : null">{{ item.nome }}</td>
                <td [attr.data_title]="item.quantidade ? 'Quantidade' : null">{{ item.quantidade }}</td>
                <td [attr.data_title]="item.nome != ''  ? 'Editar' : null">
                    <button (click)="deleteIngrediente(+item.id!, item.nome!)"><i
                            [ngClass]="item.nome !== '' ? 'bx bx-trash' : ''"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="container-paginator">
    <button class="icon" [disabled]="currentPage === 1" [style.color]="currentPage == 1 ? '#006494' : ''"><i
            class='bx bx-chevrons-left' (click)="prevPage()"></i></button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="icon" [disabled]="currentPage === totalPages"
        [style.color]="currentPage == totalPages ? '#006494' : ''"><i class='bx bx-chevrons-right'
            (click)="nextPage()"></i></button>
</div>

<p-confirmDialog #cd [style]="{ width: '350px' }">
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-times" label="Não" styleClass="p-button-danger" (click)="cd.reject()"></button>
        <button pButton type="button" icon="pi pi-check" label="Sim" styleClass="p-button-success" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>


<p-dialog header="Adicionar Ingrediente" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [modal]="true"
    [style]="{ width: '50vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <div class="modal">
        <div class="item">
            <p-dropdown [options]="ingredientes" [(ngModel)]="selectedIngrediente"  name="id" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true" placeholder="Selecione um Ingrediente">
                <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedIngrediente">
                        <div>{{ selectedIngrediente.nome }}</div>
                    </div>
                </ng-template>
                <ng-template let-ingrediente pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ ingrediente.nome }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="item" [formGroup]="formGroup">
            <label htmlFor="quantidade">Quantidade</label>
            <div class="field">
                <button
                    [ngClass]="{'invalid-field-button': formGroup.controls['quantidade'].invalid && formGroup.controls['quantidade'].touched}"><i
                        class='bx bx-plus-circle'></i></button>
                <input type="quantidade" formControlName="quantidade"
                    [ngClass]="{'invalid-field-input': formGroup.controls['quantidade'].invalid && formGroup.controls['quantidade'].touched}">
            </div>
        </div>

        <div class="submit">
            <button class="btn btn-cancel" (click)="closeModal()">Cancelar</button>
            <button class="btn btn-submit" (click)="adicionarIngrediente()">Adicionar</button>
        </div>

    </div>
</p-dialog>




